@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  font-family: "Bai Jamjuree", sans-serif;
}

@layer base {
  :root {
    --_size: 1.6rem;
    --_font-default: "Bai Jamjuree", sans-serif;
    --_font-accent: "Bai Jamjuree", sans-serif;
    --_radius-s: 1.5rem;
    --_radius-m: 2.2rem;
    --_radius-l: 3rem;
    --_radius-xl: 3.6rem;
    --_animspeed-fast: 0.1s;
    --_animspeed-medium: 0.3s;
    --_animspeed-slow: 0.6s;
    --_animbezier: cubic-bezier(0.23, 0.65, 0.74, 1.09);
    /* white theme color */
    --base: #e6ebf4;
    --base-tint: #ebf0f7;
    --base-shade: #bdc1c8;
    --accent: #aa70e0;
    --secondary: #7059e2;
    --secondary-rgba: rgba(112, 89, 226, 0.3);
    --stroke-controls: #a8b0c1;
    --stroke-controls-neutral: rgba(0, 0, 0, 0.3);
    --stroke-elements: #d1d5e0;
    --t-bright: #22232c;
    --t-medium: #424550;
    --t-muted: #666a79;
    --t-accent: #8f56cc;
    --t-secondary: #5d4ec4;
    --t-disabled: #717586;
    --t-placeholder: #969bb2;
    --base-opp: #111111;
    --t-opp-bright: #ebf0f7;
    --t-opp-medium: #c7c6d3;
    --t-opp-muted: #a1a1af;
    --gradient-one: #cec4ef;
    --gradient-two: #f5c5cd;
    --gradient-three: #ac8fe3;
  }
  .dark {
    /* dark theme color */
    --base: #111111;
    --base-tint: #161616;
    --base-shade: #000000;
    --accent: #e4b8bf;
    --secondary: #cec4ef;
    --secondary-rgba: rgba(206, 196, 239, 0.2);
    --stroke-controls: #4b4b51;
    --stroke-controls-neutral: rgba(255, 255, 255, 0.3);
    --stroke-elements: #303033;
    --t-bright: #e9e9f1;
    --t-medium: #c7c6d3;
    --t-muted: #a1a1af;
    --t-accent: #e1bac5;
    --t-secondary: #cec4ef;
    --t-disabled: #8b8a91;
    --t-placeholder: #58585e;
    --base-opp: #fafafa;
    --t-opp-bright: #121319;
    --t-opp-medium: #626577;
    --t-opp-muted: #717586;
    --gradient-one: #a287d5;
    --gradient-two: #e4b8bf;
    --gradient-three: #8b6bc5;
  }
}

::-webkit-scrollbar {
  width: 5px;
  background: var(--base-shade);
  height: 0px;
}
::-webkit-scrollbar-thumb {
  border-radius: var(--_radius-s);
  background: linear-gradient(to top left, var(--accent), var(--secondary));
}
